.top-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--loader-height);
  width: 40%;
  background: var(--gradient-loader);
  animation: loading-bar 1s infinite;
  z-index: 9999;
}

@keyframes loading-bar {
  0% { left: -40%; }
  100% { left: 100%; }
}
